form{
	background-color: white;
	width: 50%;
	margin: auto;
}

.start{
	background: #0086B3;
	color: #000;
}

.white{
	background: white;
}

.gray{
	background: gray;
}

.FSstart{
	font-size: medium;
}
.small{
	font-size: small;
}

.large{
	font-size: large;
}

.normal{
	font-style: normal;
}
.italic{
	font-style: italic;
}

.oblique{
	font-style: oblique;
}

.FWstart{
	font-weight: normal;
}
.bold{
	font-weight: bold;
}

.FFstart{
	font-family: 'Open sans', sans-serif;
}
.wall{
	font-family: 'Wallpoet', cursive;
}

.roman{
	font-family: 'Romanesco', cursive;
}

#error{
	color: red;
}

.red{
	background-color: red;
}

.yellow{
	background-color: yellow;
}

.green{
	background-color: green;
}

.light{
	font-size: large;
	font-weight: bold;
}