table{
	display: inline-block;
}

.error{
	color: red;
}

h2{
	color: #0af;
}

#error{
	color: red;
}

table, th, td{
	border: solid 1px;
	border-collapse: collapse;
}

th, td{
	padding: 5px;
}

tr:nth-child(odd){
	background-color: white;
}

